@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');
:root{
    --Scissors: hsl(39, 89%, 49%) ;
    --Paper:hsl(230, 89%, 62%);
    --Rock:hsl(349, 71%, 52%);
    --Lizard:hsl(261, 73%, 60%);
    --spock:hsl(189, 59%, 53%);
    --blue:hsl(230, 89%, 62%);
    --very-light-grey:#aaa;
    --grey:#444;
    --chartreuse:chartreuse;
    --crimson:crimson;
    --white:#fefefe;
    --light-grey:#888;
    --black:black;
  
}


* {
  box-sizing: border-box;
    margin:0;
    padding:0;

}
html, 
body {
    height: 100%;
}
body{
    font-family: 'Barlow Semi Condensed', sans-serif;
    background:radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
    color:var(--white);
}

.score-panel{
    margin:1em 9em;
    display:flex;
    border: 0.063em solid var(--white);
    width:70%;
    font-size:1.5em;
}
.actions{
    display:flex;
    text-transform: uppercase;
    width:20%;
    flex-direction:column;
    line-height:1.3em;
    padding:0.5em 1.8em;
}
.rules{
display:flex;
flex-direction:row;
align-items:flex-end;
justify-content:flex-end;
}

#rulesButton{
margin-top:1.5em;
background:transparent;
border:0.1em solid var(--white);
border-radius: 5%;
padding: 1em 3em;
color:var(--white);
}
#rulesButton {
  transition-duration: 0.3s;
}

#rulesButton:hover {
  background-color:var(--blue);
  color: var(--white);
}

.score{
display:flex;
flex-wrap:wrap;
flex-direction:row;
width:80%;
color:var(--white);

}

.score h3{
width:100%;
margin:0.2em 1em 0.2em 3em;
padding-left:0.5em;
text-align:center;
text-decoration: underline;
font-weight:200;
}
.scoreResults{
width:100%;
}
.scoreResults h4{
display:inline-block;
text-decoration: underline;
text-align:center;
width:45%;
margin-bottom:0.5em;
}
#playerScoreHeader{
text-align:right;
}
#playerScore{
text-align:right;
}
.scoreResults span{
display:inline-block;
text-align:center;
width:45%;
padding-left:0.5em;
margin-bottom:0.5em;
}

.levelSelect {
padding:0.5em;

width:100%;
text-align:center;
}

.level{
  display: inline-block;
  font-size: 0.5em;
  color: var(--grey);
  line-height: 1.3;
  padding: 0.6em 1.4em 0.5em 0.8em;
  width: 15%;
  max-width: 15%; 
  box-sizing: border-box;
  margin: 0;
  border: 0.063em solid var(--very-light-grey);

  border-radius: .5em;
}

#game-icons{
    display:flex;
    justify-content:center;
    align-items:center;
    margin:2em 2em 0em 2em;

}
#game-icons div{
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center; 
    margin:2em;
    border-radius:50%;
    max-width:9em;
    max-height:9em;
}

#game-icons img{
padding:1.4em;
background:var(--white);
max-width:100%;
max-height:100%;

}

.scissors{

border:1em solid var(--Scissors);
}

.rock{

border:1.2em solid var(--Rock);
}

.paper{

border:1em solid var(--Paper);
}

.lizard{

border:1em solid var(--Lizard) ;
}

.spock{

border:1em solid var(--spock);
}

#chosen{
display:none;
}

.show{
display:block;

}

.hide{
display:none;
}

.result{
display:flex;
flex-direction:column;
font-size:1.2em;
text-align:center;
padding:0.8em;
}

.green {
color:var(--chartreuse);
}

.red {
color:var(--crimson);
}

#again{
padding:1em;
margin:auto;
width:8em;
background:transparent;
color:var(--white);
border:0.1em solid var(--white);
}

#new {
padding:1em;
margin:auto;
width:8em;
display:none;
background:transparent;
border: 0.1em solid var(--white);
color:var(--chartreuse);
}

#again {
  transition-duration: 0.3s;
}

#again:hover {
  background-color:var(--blue);
  color: var(--white);
}
#new {
  transition-duration: 0.3s;
}

#new:hover {
  background-color:var(--blue);
  color: var(--white);
}
#chosen h3{
margin:0.2em;
}
.computer img{
margin:auto;
padding:1.2em;
background:var(--white);

}
.player img{
margin:auto;
padding:1.2em;
background:var(--white);

}

.wrapper {
display:flex;
flex-wrap:wrap;
align-items:center;
justify-content:center;
font-size:1.5em;
}

.wrapper h3{
text-align: center;
}

#result{
display:inline-block;
padding-bottom:2em;
font-size:0.8em;
}



#footer {
  position: absolute;
  bottom: 3em;
padding-right:3em;
  width: 100%;
  height: 2.5rem;  
text-align:center;         
}


/* The Modal (background) */
.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

/* Modal Content/Box */
.modal-content {
  background-color: var(--white);
  margin: 15% auto; 
  padding: 1.87em;
  border: 0.06em solid var(--light-grey);
  width: 30%; 
}

.modal-content p{
color:var(--very-light-grey);
text-align:center;
padding:0.5em;
margin-bottom:1em;
}

/* The Close Button */
#closeModal {
  color: var(--very-light-grey);
  float: right;
  font-size: 1.7em;
  font-weight: bold;
}

#closeModal:hover,
#closeModal:focus {
  color: var(--black);
  text-decoration: none;
  cursor: pointer;
}

.attribution {
text-decoration:none;
color:var(--white);
}
.attribution a{
color:var(--white);
}

 @media only screen and (max-width: 48em){
 #game-icons{
flex-wrap:wrap;
justify-content:center;
}
.score-panel{
margin:1em 4.5em 0em 4.5em;
}


.modal-content{
width:60%
}

}
 @media only screen and (max-width: 37.5em) {

body{
width:100%;
height:100%;
position:absolute;
}
.score-panel{
width:90%;
flex-direction:column;
margin:1em;
font-size:1.3em;
border:none;
}
.actions{
width:100%;
text-align:center;
border: 0.1em solid var(--white);
margin-bottom:0.5em;
}
.score{
width:100%;
border:0.1em solid var(--white);
margin:0;
}

.level {
width: 25%;
  max-width: 25%; 

}

.score h3{
margin:0.5em;
text-align:center;
padding:0;
}
.scoreResults{
width:100%;
}
#playerScoreHeader{
text-align:center;
}
#playerScore {
text-align:center;
}

#game-icons{
flex-wrap:wrap;
margin:0.1em;
}

#game-icons div{
margin:0.5em;
max-width:7em;
max-height:7em;

}
#game icons img{
padding:1em;
}
.wrapper{
flex-wrap:wrap;
margin:1em;
}

.wrapper h3{
font-size:0.8em;

}
.player{
order:1;
width:50%;

}

.player img{
padding:1em;
margin:0;
}
.computer{
order:2;
width:50%;

}
.computer img{
padding: 1em;
margin:0;
}

.result{
order:3;
display:flex;
margin-bottom:0.5em;
}

#playerChoice {
width:50%;
margin:auto;
}
#computerChoice {
width:50%;
margin:auto;
}
.result{

padding:0.01em;
}
#result{
padding:0.2em;
}
#again{
margin-top:0.5em;
}
#new{
margin-top:0.5em;
}
#footer {
display:flex;
 position: relative;
right: 0;
bottom: 0.5em;;
left: 0;
padding:0;
margin:2.5em 1em;
}


.rules{
order:2;
width:50%;
padding-left:0.5em;

}
#rulesButton{
margin:1em 2em;
padding:0.8em 1.5em;
}

.attribution{
order:1;
width:50%;
font-size:0.8em;
align-items:center;
}

.modal-content {
width:50%;
}

.modal-content img{
max-width:100%;
max-height:100%;
}
  
}

@media only screen and (max-width: 21em) {

.wrapper h3{
font-size: 0.7em;
}

#playerChoice img{
width:4.5em;
height:4.5em;
padding:0.5em;
margin:0.1em;

}
#computerChoice img{
width:4.5em;
height:4.5em;
padding:0.5em;
margin:0.1em;

}

}